
/* Custom fonts */
@font-face
{
	font-family: Bangers;
	font-weight: bold;
	src: url("bangers.ttf");
}
@font-face
{
	font-family: Impact;
	src: url("impact.ttf");
}

/* Everything */
body
{
	background-color: navajowhite;
}

/* Title background */
div
{
	position: fixed;
	left: -2px;
	top: -2px;
	width: 100vw;
	height: 125px;
	border: solid;
	border-width: 2px;
	border-color: forestgreen;
	background: url("unicorn.jpg");
	background-size: 100% 300%;
	background-position: left -200px center;
}

/* Title and subtitle */
h1,
h2.subtitle
{
	font-family: Bangers;
	text-align: center;
}

/* Title */
h1
{
	color: lawngreen;
	font-size: 40px;
	text-shadow: 0px 0px 5px black;
}

/* Subtitle */
h2.subtitle
{
	position: relative;
	top: -20px;
}
h2.subtitle,
a.subtitle
{	
	font-size: 19px;
	font-style: italic;
	text-shadow: 0px 0px 5px white;
	text-decoration: none;
	letter-spacing: 0px;
	color: forestgreen;
	transition: color 0.35s, font-size 0.35s, letter-spacing 0.35s;
}	
a.subtitle:hover
{
	font-size: 20px;
	text-decoration: underline;
  letter-spacing: 1px;
  color: red;
  cursor: pointer;
}


/* Cativeiro */
p.main-cativeiro
{
	margin-left: 150px;
	margin-top: 250px;
	width: calc(50vw - (100px * 2));
	font-family: serif;
	font-size: 55px;
	line-height: 45px;
	color: orangered;
	opacity: 0;
	animation-name: main-cativeiro-p;
	animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
span.main-cativeiro
{
	text-transform: uppercase;
	font-family: Impact;
	font-size: 35px;
	color: red;
}
img.main-cativeiro
{
	image-rendering: pixelated;
	position: relative;
	right: 175px;
	bottom: 10px;
	width: 500px;
	height: 250px;
	float: right;
	opacity: 0;
	transition: right 0.35s, bottom 0.35s, width 0.35s, height 0.35s;
	animation-name: main-cativeiro-img;
	animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
img.main-cativeiro:hover
{
	right: calc(175px - (((500px * 1.05) - 500px) / 2));
	bottom: calc(10px + (((250px * 1.05) - 250px) / 2));
	width: calc(500px * 1.05);
	height: calc(250px * 1.05);
}
@keyframes main-cativeiro-p
{
  0%
  {
  	opacity: 0;
    translate: -100px 0px;
  }
  100%
  {
  	opacity: 1;
    translate: 0px 0px;
  }
}
@keyframes main-cativeiro-img
{
	0%
	{
		scale: 0;
		opacity: 0;
		transform: rotate(0deg);
	}
	100%
	{
		scale: 1;
		opacity: 1;
		transform: rotate(calc(360deg * 3));
	}
}
