
@font-face
{
	font-family: Bangers;
	font-weight: bold;
	src: url("bangers.ttf");
}
@font-face
{
	font-family: Impact;
	src: url("impact.ttf");
}


body
{
	background-color: navajowhite;
}


div.title
{
	position: fixed;
	left: -2px;
	top: -2px;
	
	width: 100vw;
	height: 125px;

	border: solid;
	border-width: 2px;
	border-color: forestgreen;
	background: url("unicorn.jpg");
	background-size: 100% 300%;
	background-position: left -200px center;
}
h1.title
{
	color: lawngreen;
	filter: brightness(1);

	text-align: center;
	text-shadow: 0px 0px 5px black;
	font-family: Bangers;
	font-size: 40px;

	animation-name: title-h1;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes title-h1
{
	0%
	{
		transform: translate(0px, 0px);
		filter: brightness(1);
	}
	100%
	{
		transform: translate(0px, -5px);
		filter: brightness(2);
	}
}


h2.subtitle
{
	position: relative;
	top: -20px;
	
	text-align: center;
	font-family: Bangers;
}
h2.subtitle,
a.subtitle
{
	color: forestgreen;

	text-shadow: 0px 0px 5px white;
	text-decoration: none;
	font-size: 19px;
	font-style: italic;
	letter-spacing: 0px;

	transition: color 0.35s, font-size 0.35s, letter-spacing 0.35s;
}	
a.subtitle:hover
{
	color: red;

	text-decoration: underline;
	font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}


div.main-div-cativeiro
{
	margin-top: 300px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	background-color: rgba(255, 255, 255, 1);

	transition: filter 0.25s, transform 0.25s;
	animation-name: main-div-cativeiro;
	animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
div.main-div-cativeiro:hover
{
	transform: scale(1.05);
}
@keyframes main-div-cativeiro
{
  0%
  {
    filter: opacity(1);
  }
  100%
  {
    filter: opacity(1);
  }
}


img.main-div-cativeiro-img
{	
	transition: transform 0.25s;
	animation-name: main-div-cativeiro-img;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-fill-mode: backwards;
}
@keyframes main-div-cativeiro-img
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}


p.main-div-cativeiro-p
{
	width: calc(50vw - (100px * 2));

	font-family: serif;
	font-size: 55px;
	line-height: 45px;

	color: orangered;
}

TUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIALTUTORIAL
/*
p.main-article-cativeiro
{
	margin-left: 175px;
	margin-top: 275px;
	scale: 1;
	width: calc(50vw - (100px * 2));
	
	color: orangered;
  filter: brightness(1) opacity(1);

  font-family: serif;
	font-size: 55px;
	line-height: 45px;

	transition: filter 0.25s, transform 0.25s;
	animation-name: main-article-cativeiro-p;
	animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
span.main-article-cativeiro
{
	color: red;

	text-transform: uppercase;
	font-family: Impact;
	font-size: 35px;
}
@keyframes main-article-cativeiro-p
{
  0%
  {
    transform: translate(-100px, 0px);
    filter: opacity(0);
  }
  100%
  {
    transform: translate(0px, 0px);
    filter: opacity(1);
  }
}



*/